.addFile .form-group{padding:auto;margin-bottom:5px}
.addFile input[type=file]{outline:0;opacity:0;pointer-events:none;user-select:none}
.addFile .label{width: 120px; height: 16px; border:2px dashed grey;border-radius:3px; display:block;padding:1.2em;transition:border 300ms ease;cursor:pointer;text-align:center}
.addFile .label i{margin-top:-17px;display:block;font-size:30px;padding-bottom:1px}
.addFile .label i,.addFile .label .title{color:grey;transition:200ms color}
.addFile .label:hover{border:2px solid #000}
.addFile .label:hover i,.addFile .label:hover .title{color:#000}